<div class="jumbotron d-flex align-items-center min-vh-100 bg-white text-dark">
<div class="form-signin">`
`
 <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %> 
  <h1 class="h3 mb-3 font-weight-normal text-center">Please sign in</h1>
   <form>
    <div>
     <%= f.label :email %></br>
     <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Email address" %>
    </div>

    <div>
     <%= f.label :password %></br>
     <%= f.password_field :password, autocomplete: "current-password", class:"form-control", placeholder:"Password" %>
    </div>


     <% if devise_mapping.rememberable? %>
      <div class="checkbox mb-3">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
     <% end %>
    <div>
     <%= f.submit "Log-in", class:"btn btn-lg btn-success btn-block" %></br>
    </div> 
    <div class="form-group">
       <p class="mb-2 text-black"> Dont have a SekuLab account?</p>
    </div>
     <%= render "devise/shared/links" %> </p>

     <p class="mt-5 mb-3 text-muted">&copy; Sekulab Cybersecurity Inc 2020-2021</p>
 <% end %>   
   </form>
</div>
</div>
