<h2 class="text-center"> Why SekuLab? </h2>
    <div class="row">
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" <%= image_tag("2098537.jpg") %> </img>

        <h2>Ease of Deployment</h2>
        <p> Sekulabs offer miniscule test Windows and Linux images that are "intentionally" vulnerable and meant to be break with. Works good in both VMware and VirtualBox </p>
        <p><a class="btn btn-success text-white" href="#">Deploy my Test lab! &raquo;</a></p>
      </div>
      <!-- /.col-lg-4 -->
      
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" <%= image_tag("1267627.jpg") %> </img>

        <h2> Learn by Doing </h2>
        <p> Alongside is we prepared a set of challenges ranging from Reconnaissance, Vulnerablility Assessment, Exploitation, AV Evasion, Cryptography, Password Attacks </p>
        <p><a class="btn btn-success text-white" href="/ctf"> Start CTF! &raquo;</a></p>
      </div>
 
      <!-- /.col-lg-4 -->

      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" <%= image_tag("2098762.jpg") %> </img>

        <h2> Up to date </h2>
        <p> We also included a nice set of documentation sources in case you got stuck on something, We got it covered from setting up your test environment up to topics regarding Penetration Testing.</p>
        <p><a class="btn btn-success text-white" href="/sekulab"> SekuLab Classroom &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"> Break into Stuff <span class="text-danger"> Linux / Windows VM images.</span></h2>
        <p class="lead"> Sekulabs offer the Vulnhub repository as our test images, both miniscule and lightweight, runs smoothly even in medium range machines.</p>
        <p><a class="btn btn-primary text-white" href="https://vulnhub.com">View VulnHub Website &raquo;</a></p>
    </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="600" xmlns= <%= image_tag("3.jpg") %> </img>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading"> Based on popular CTFs for InfoSec certifications like OSCP.  <span class="text-primary">See for yourself.</span></h2>
        <p class="lead">We tailored our CTF challenges based on the industry leading certifications like the coveted OSCP from Offensive Security</p>
        <p><a class="btn btn-success text-white" href="https://offsec.com">View Offensive Security page &raquo;</a></p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="600" xmlns= <%= image_tag("1.png") %> </img>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"> SekuLab Classroom. <span class="text-success"> Up-to-date Documentation and learning materiel.</span></h2>
        <p class="lead">We also provided a short yet concise documentation and learning materials ranging from setting up your test environment, up to performing attacks on your test images. Really learning by doing </p>
        <p><a class="btn btn-success text-white" href="/sekulab">View details &raquo;</a></p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="600" xmlns= <%= image_tag("1.png") %> </img>

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->
